@font-face {
    font-family: "RedHatDisplay";
    src: url("/public/fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf");
}

footer{
    margin: 0;
    width: 100%;
    height: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202033;
    color: white;
}

footer p{
    font-family: "RedHatDisplay";
}