@font-face {
    font-family: 'orbitron';
        src: url('/public/fonts/Orbitron/Orbitron-VariableFont_wght.ttf');
    }

@font-face {
    font-family: "BungeeSpice";
    src: url("/public/fonts/Bungee_Spice/BungeeSpice-Regular.ttf");
}

@font-face {
    font-family: "RedHatDisplay";
    src: url("/public/fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf");
}


h3{
    font-family: 'orbitron';
}

.divProyecto{
    margin: 0;
    padding: 0;
    width: 20%;
    height: 90%;
    border: 2px solid black ;
    border-radius: 9px;
    background-color: #b1b6a6;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.divProyecto:hover{
    box-shadow: 3px 3px greenyellow;
    cursor: pointer;
}

.imgPage{
    width: 90%;
    height: auto;
    border: 1px solid black;
    border-radius: 9px;
    margin-top: 1rem;
}

.descripcionWeb{
    width: 90%;
    overflow: hidden;
    height: 40%;
}

#chanelNumber{
    z-index: 3;
    position: absolute;
    right: 5%;
    top: 0%;
    color: greenyellow;
    font-size: 3rem;
    opacity: .8;
    font-family: "orbitron";
}

#chanelName{
    z-index: 3;
    position: absolute;
    right: 5%;
    top: 80%;
    color: greenyellow;
    font-size: 3rem;
    opacity: .8;
    font-family: "orbitron";
}

.tecnologias{
    padding: 0;
    margin: 0;
    font-family: "RedHatDisplay";
    color: #202033;
    font-size: small;
}

p{
    font-family: "RedHatDisplay";
}

a,li{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.548);
    text-align: center;
}

a{
    display: block;
}

li:hover{
    color:white;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 9px;
}

a:hover{
    color:white;
    display: block;    
}

#usFlagIco{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 65Px;
    top: 0px;
}

#linkedinIco{
    position: absolute;
    top: 0;
    right: 70px;
    width: 20px;
    height: 20px;
}

#githubIco{
    position: absolute;
    top: 0;
    right: 60px;
    width: 20px;
    height: 20px;
}

#mailIco{
    position: absolute;
    top: 0;
    right: 80px;
    width: 20px;
    height: 20px;
}
    
#video1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .3;
}
#videoSolitario{
    width: 70%;
    height: auto;

}   

#divisor{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
